.header {
  border-bottom: 1px solid var(--clr-line);
  padding: var(--spacing);

  .logo {
    display: block;
    width: 10rem;
    margin-bottom: var(--spacing);

    span {
      position: absolute;
      clip: rect(0 0 0 0);
      height: 1px;
      width: 1px;
      margin: -1px;
      padding: 0;
      border: 0;
      overflow: hidden;
    }
  }

  nav,
  ul {
    display: flex;
    margin-block: 0;
    padding-inline: 0;
    gap: var(--spacing);
  }

  li {
    list-style: none;
  }

  .current {
    font-weight: var(--font-weight-bold);
  }
}
