:root {
  --spacing: 20px;
  --font-family: 'Roboto', serif;
  --font-weight: 300;
  --font-weight--bold: 500;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin: 0;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: var(--font-weight);
  padding: var(--spacing);
}

h1,
h2,
h3,
b,
strong {
  font-weight: var(--font-weight--bold);
}
