@charset "UTF-8";

/*
┌──────────────────────────────────┐
  VOREINSTELLUNGEN
└──────────────────────────────────┘
Schau dir bitte genau an, was dort definiert wurde
und passe dies entsprechend deiner Wünsche an.
Gern darfst du diese auch komplett löschen und alles selbst festlegen.
*/

@use 'base';
@use 'components';

/*
┌──────────────────────────────────┐
  FOLGEND DEINE EIGENEN STYLES
└──────────────────────────────────┘
*/

.page {
  max-width: 60rem;
  margin-inline: auto;
  padding-inline: var(--spacing);
}

.footer {
  border-top: 1px solid var(--clr-line);
  margin-top: var(--spacing);
  padding-top: var(--spacing);
}
