<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/src/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <script type="module" src="/src/main.js" defer></script>
  </head>
  <body>
    <include src="header.html" locals='{"page": "home"}'></include>

    <main>
      <h1>HAWK GT 1191 Starterkit</h1>

      <p>
        Mit dem Starterkit des Seminars
        <a href="https://hawk-gt1191.de/" target="_blank" rel="noopener nofollow">GT 1191</a> der HAWK Hochschule für
        angewandte Wissenschaft und Kunst kannst du im Handumdrehen neue Websites entwickeln. Es ist minimalistisch
        gehalten, damit du dir die Grundlagen von HTML, CSS und JavaScript selbst erarbeiten kannst. Schaue dir dazu
        bitte die <a href="https://hawk-gt1191.de/tutorials" target="_blank" rel="noopener nofollow">Tutorials</a> an.
      </p>

      <p>
        Wie du mit Starterkit arbeiten kannst, erfährst du auf der Website
        <a href="https://starterguide.dev" target="_blank" rel="noopener nofollow">starterguide.dev</a>.
      </p>
    </main>

    <include src="footer.html"></include>
  </body>
</html>
