<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/src/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}" />
    <script type="module" src="/src/main.js" defer></script>
  </head>
  <body id="top">
    <include src="header.html"></include>

    <main>
      <div id="intro">
        <h1>Website-Starterkit</h1>

        <p>
          Mit dem Starterkit des Seminars
          <a href="https://hawk-gt1191.de/" target="_blank" rel="noopener nofollow">GT 1191</a> der HAWK Hochschule für
          angewandte Wissenschaft und Kunst kannst du im Handumdrehen neue Websites entwickeln. Es ist minimalistisch
          gehalten, damit du dir die Grundlagen von HTML, CSS und JavaScript selbst erarbeiten kannst. Schaue dir dazu
          bitte die <a href="https://hawk-gt1191.de/tutorials" target="_blank" rel="noopener nofollow">Tutorials</a> an.
        </p>

        <p>
          Wie du mit Starterkit arbeiten kannst, erfährst du auf der Website
          <a href="https://starterguide.dev" target="_blank" rel="noopener nofollow">starterguide.dev</a>.
        </p>
      </div>

      <div id="fotos">
        <h2>Fotos</h2>

        <p>In dem Starterkit sind beispielhaft folgende Fotos eingebunden:</p>

        <ul class="references">
          <li>
            Auckland<br />
            <img src="/src/assets/auckland-unsplash.jpg?width=300" alt="" />
          </li>
          <li>
            Milford Sound<br />
            <img src="/src/assets/milford-sound-unsplash.jpg?width=300" alt="" />
          </li>
        </ul>

        <aside>
          <p>
            Wie du mit Fotos arbeiten kannst erfährst du ebenfalls auf der Website
            <a href="https://starterguide.dev/starterkit/images/" target="_blank" rel="noopener nofollow"
              >starterguide.dev</a
            >.
          </p>

          <small>
            Fotos von
            <a href="https://unsplash.com/de/fotos/graue-betonstrasse-zwischen-green-mountains-tagsuber-JPRypr3CCmg"
              >Geoff Byro</a
            >
            und

            <a href="https://unsplash.com/de/fotos/person-die-tagsuber-auf-roter-betonstrasse-radelt-m4-wkz4GV04"
              >Dan Freeman</a
            >

            auf <a href="https://unsplash.com">Unsplash</a>.
          </small>
        </aside>
      </div>
    </main>

    <include src="footer.html"></include>
  </body>
</html>
