*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  color-scheme: only light;
}

body {
  font-family: var(--ff);
  font-size: 16px;
  font-weight: var(--fw);
  line-height: var(--lh);

  margin: 0;
  background-color: var(--clr-bg);
  color: var(--clr-text);

  min-height: 100vh;
  min-height: 100dvh;
}

main {
  padding: var(--sp);
}

h1,
h2,
h3,
b,
strong {
  font-weight: var(--fw-bold);
}

p {
  margin-block: 0 1.2em;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}
