@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local(''), url('../assets/fonts/roboto-v29-latin-300.woff2') format('woff2'),
    url('../assets/fonts/roboto-v29-latin-300.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('../assets/fonts/roboto-v29-latin-500.woff2') format('woff2'),
    url('../assets/fonts/roboto-v29-latin-500.woff') format('woff');
}
