:root {
  --spacing: 20px;
  --font-family: 'Rubik Variable', serif;
  --font-weight: 300;
  --font-weight-bold: 500;

  --clr-bg: hsl(0, 0%, 100%);
  --clr-text: hsl(0, 0%, 0%);
  --clr-line: hsl(0, 0%, 80%);
}
